header,
main,
footer {
    width: 100vw;
}
*{
    margin: 0;
}
header {
    height: 70px;
    background: rgb(0, 247, 255);
    padding: 6px 32px;
}

main {
    margin: 0;
    padding: 0;
    height: 60vh;
    background: rgb(212, 255, 0);
}

footer {
    height: 70px;
    background: green;
    color: black;
}

.flex-container{
    display: flex;  /*attiva flexbox*/
    flex-wrap: wrap;    /* andata a capo*/
    justify-content: space-between; /*spazio tra gli elementi*/
    align-items: center;    /*allineamento verticale*/
    padding: 20px; 
}

.left {
    width: 70vw;
    height: 100%;
    flex: 1 0 70vw;
    background: red;
}

.right {
    width: 30vw;
    height: 100%;
    flex: 1 0 30vw;
    background: blue;
}


/* Tablet: max 1024px */
@media (max-width: 1024px) {
    .flex-container {
        
        
        height: auto;
    }
    .left{
        width: 70vw;
        height: 40vh;
    }
    .right {
        width: 200px;
        height: 40vh; /* o auto, scegli tu */
    }
}

/* Mobile: max 768px */
@media (max-width: 768px) {
    .flex-container {
        padding: 10px;
        gap: 10px;
    }
    .left,
    .right {
        width: 100%;
        height: 30vh; /* o auto */
    }
}



